:root {
  --text: #fdfdfd;
  --blue: #00bcd4;
  --bg-color: #161616;
  --pink: #ff4081;
  --neon: #00FF00;
  --yellow: #FFFF00;
  --alt-bg: #252525;
  --grey: rgb(131, 131, 131);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
  background-color: var(--bg-color);
  color: var(--text);
  font-weight: 400;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bottom-footer{
  margin-top: auto;
}

a {
  text-decoration: none;
  color: var(--pink);
}

/* navbar */
nav a {
  font-weight: 500;
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--text);
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 1rem 0;
  color: var(--text);
  font-weight: 500;
}

.nav-link {
  font-size: 1.25rem;
}

/* footer */
footer {
  margin: 0 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--grey);
  gap: 0.5rem;
}

footer div {
  text-align: center;
}

.contact-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-links a:hover {
  color: var(--grey);
}

/* article */
#article {
  margin: 1rem;
  /* margin: 1rem 1rem 2rem; */
}

/* all headers class */
.topic {
  color: var(--text);
}

#article a:hover {
  /* text-decoration: underline; */
  color: var(--grey);
}

#article h1 {
  padding: 1em 0 0.5em;
  font-size: 2rem;
}

#article h2 {
  padding: 0.75em 0 0.375em;
  font-size: 1.5rem;
}

#article h3 {
  padding: 0.5em 0 0.25em;
  font-size: 1.25rem;
}

#article ul {
  list-style-type: circle;
  padding: 0.25em 0;
  margin: 0 1rem;
}

#article ul li {
  padding: 0.25em;
}

#article img {
  max-width: 100%;
  display: block;
  margin: 1rem auto;
  border-radius: 5px;
}

code {
  font-size: 0.8rem;
  border-radius: 5px;
}

#article p {
  font-size: 1rem;
  padding: 0.4em 0;
}

#article pre {
  padding: 0.4em 0;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0);
}

hr {
  width: 90%;
  opacity: 70%;
  margin: 1rem auto 2rem;
}

.post-meta {
  padding: 0.25em 0 !important;
  font-style: italic;
  font-size: 0.95rem !important;
  color: var(--grey);
}

#post-info {
  margin-bottom: 1rem;
}

blockquote {
  padding: 1em 0.75em 1em 1.25em;
  border-left: 0.35rem solid var(--blue);
  margin: 0.5rem 0;
  background-color: var(--alt-bg);
  border-radius: 5px;
}

.quote {
  font-style: italic;
}