:root {
  --bg-color: ghostwhite;
  --link: #2064b1;
  --text: rgb(20, 20, 20);
  --crimson: rgb(215, 80, 110);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  background-color: var(--bg-color);
  color: var(--text);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--link);
}

nav a {
  font-weight: 500;
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--crimson);
}

/* navbar */
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 1rem 0;
}

.nav-link {
  font-size: 1.2rem;
}

/* article */
#article {
  margin: 1rem 1rem 2rem;
}

/* all headers class */
.topic {
  color: var(--text);
}

#article a:hover {
  text-decoration: underline;
  /* text-decoration-color: var(--text); */
}

#article h1 {
  padding: 1.5rem 0;
}

#article h2 {
  padding: 1.2rem 0;
}

#article h3 {
  padding: 1rem 0;
}

#article ul {
  list-style-position: inside;
  list-style-type: circle;
  margin: 0.25rem 0;
}

#article img {
  width: 50%;
  /* max-width: 400px; */
}

code {
  color: var(--crimson);
  font-size: 0.8rem;
}